<form [formGroup]="formGroup">
    <dynamic-primeng-form [group]="formGroup" [model]="formModel">
        <ng-template
            modelId="myFormArray"
            let-group
            let-index="index"
            let-context="context"
        >
            <button type="button" (click)="removeItem(context, index)">
                Remove Item
            </button>
            <button
                type="button"
                (click)="insertItem(group.context, group.index + 1)"
            >
                Add Item
            </button>
        </ng-template>
    </dynamic-primeng-form>
</form>
